*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
TODO

# For MacOS:
.DS_Store

# For vim:
*.sw*

# RVM
.ruby-gemset
.ruby-version
