language: ruby

rvm:
  - 2.2.10
  - 2.3.7
  - 2.4.4
  - 2.5.1
  - 2.6
  - ruby-head
  - jruby
  - jruby-9
  - jruby-19mode
  - jruby-head
  - rbx
  - rbx-2
  - rbx-3
  - rbx-head

matrix:
  allow_failures:
    - rvm: 2.6
    - rvm: jruby
    - rvm: jruby-9
    - rvm: jruby-19mode
    - rvm: jruby-head
    - rvm: ruby-head
    - rvm: rbx
    - rvm: rbx-2
    - rvm: rbx-3
    - rvm: rbx-head
  fast_finish: true

script: bundle exec rspec
cache: bundler
sudo: false
