language: ruby

rvm:
  - 2.0.0
  - 2.1.10
  - 2.2.9
  - 2.3.6
  - 2.4.3
  - 2.5.0
  - ruby-head
  - jruby
  - jruby-9
  - jruby-19mode
  - jruby-head
  - rbx
  - rbx-2
  - rbx-3

matrix:
  allow_failures:
    - rvm: jruby
    - rvm: jruby-9
    - rvm: jruby-19mode
    - rvm: jruby-head
    - rvm: ruby-head
    - rvm: rbx
    - rvm: rbx-2
    - rvm: rbx-3
  fast_finish: true

script: bundle exec rspec
cache: bundler
sudo: false
