language: ruby

rvm:
  - 2.0.0
  - 2.1.10
  - 2.2.7
  - 2.3.4
  - 2.4.1
  - ruby-head
  - jruby
  - jruby-9
  - jruby-19mode
  - jruby-head
  - rbx
  - rbx-2

matrix:
  allow_failures:
    - rvm: jruby
    - rvm: jruby-9
    - rvm: jruby-19mode
    - rvm: jruby-head
    - rvm: ruby-head
    - rvm: rbx
    - rvm: rbx-2
  fast_finish: true

script: bundle exec rspec
cache: bundler
sudo: false
